body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;


}


#gameboard  {
      width: 300px;
      height: 300px;
      background-color: lightgoldenrodyellow;
      display: flex;
      flex-wrap: wrap;
      border: 1px black;
    

}


.square {
    width: 100px;
    height: 100px;
    background-color: white;
    border: solid 4px black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

}


.circle {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: 18px solid orange;
    box-sizing: border-box;

}


.cross {
    width: 90px;
    height: 90px;
    position: relative;
    transform: rotate(45deg);


}



.cross:before, .cross:after {
    content: '';
    position: absolute;
    background-color: rgb(237, 130, 146);

}


.cross:before {
    left: 50%;
    width: 30%;
    height: 90px;
    margin-left: -15%;

}


.cross:after {
    top: 50%;
    height: 30%;
    width: 90px;
    margin-top: -15%;

}


 /* Style the button */
 button {
    background-color: #4CAF50; /* Green background color */
    color: white; /* White text color */
    padding: 10px 20px; /* Padding to make the button larger */
    border: none; /* Remove the button border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Add a pointer cursor on hover */
    font-size: 16px; /* Font size */
}

/* Add hover effect */
button:hover {
    background-color: #45a049; /* Slightly darker green on hover */
}


   
     

